# This config file contains the environment variables for the application and for the database

# Flask variables
FLASK_APP=app
FLASK_RUN_HOST=0.0.0.0
FLASK_DEBUG=
SECRET_KEY=
DATABASE_URL=sqlite:///db.sqlite

# MariaDB variables (for production only)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=toolkit
MYSQL_USER=flask
MYSQL_PASSWORD=
