{% extends "base.html" %}

{% block content %}
<div class="">

    <div class="border-b-2 border-black grid gap-8 lg:grid-cols-[52rem,30rem]  content-start">
        <div class="mx-2 lg:ml-[13rem] text my-8 meta max-w-[30rem]">
            {{ text|safe }}
        </div>
    </div>

    <div class="flex gap-4 items-center min-h-[2rem] mb-8 mb-8 border-b-2 border-black ">
        {{ view_switch() }}
    </div>


    {% if view == 'list' %}
    {% for resource in resources %}
    {{ resource_list(resource, loop, false) }}
    {% endfor %}
    {% else %}
    {% for resource in resources %}
    {{ resource_with_related(resource, loop, false) }}
    {% endfor %}
    {% endif %}

</div>
{% endblock %}