{% extends "base.html" %}

{% block content %}
<div class="">

    <div class="border-b-2 border-black grid grid-cols-[52rem,30rem]  content-start">

        <div class="ml-[13rem] text my-8 meta max-w-[30rem]">
            {{ text|safe }}

            <br/>
            <a href="{{ url_for(request.endpoint, view='list') }}">LIST VIEW</a>

        </div>
        <div class="h-full ">
            <div class="flex h-full gap-8 justify-start items-center ">
                <div class="text-right">Show<br>related</div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <div class="">Simpler<br>List</div>
            </div>
        </div>
    </div>

    {% if view == 'list' %}
        THIS IS LIST VIEW 
    {% else %}

        {% for resource in resources %}
            {{ resource_with_related(resource, loop, false) }}
        {% endfor %}

    {% endif %}

</div>
{% endblock %}
