{% extends 'base.html' %}

{% block content %}

<div class="cell-margin">
  <div class="mb-8">
    <h2>
      {% block title %}
      {% autoescape false %}
      {{ type + 's' | replace(" ","<br>") }}
      {% endautoescape %}
      {% endblock %}
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra magna. Nam in ante ultricies
      purus feugiat vestibulum et ac erat. Donec in sagittis ante. Maecenas non mauris et eros commodo fringilla.
      Integer accumsan ullamcorper diam, non rhoncus tellus molestie ut. Maecenas finibus pretium dolor ac sagittis.
    </p>
  </div>
</div>
<div class="">
  <div class="search sticky top-11  z-10 border-b-2 border-black">
    <div class="sticky top-20 flex p-2 pt-4 gap-8 bg-white ">
      <input class="border-2 border-black p-2 mb-2" type="text" placeholder="filter by search...">
      {% if practices_filter %}
      <details class="min-w-[10rem]">
        <summary>Practices</summary>
        <div class="">
          {% for practice in practices_filter %}
          <div {% if request.args.get('practice')==practice[0]|string %} class="active" {% endif %}>
            <a href="/{{type + 's'}}?practice={{practice[0]}}">{{ practice[1] }}</a>
          </div>
          {% endfor %}
        </div>
      </details>
      {% endif %}
      {% if year_filter %}
      <details class="min-w-[10rem]">
        <summary>Year</summary>
        <div id="filter-year" class="collapse filter-items">
          {% for year in year_filter %}
          <li {% if request.args.get('year')==year %} class="active" {% endif %}>
            <a href="/books?year={{year}}">{{ year }}</a>
          </li>
          {% endfor %}
        </div>
      </details>
      {% endif %}
      {% if typology_filter %}
      <details class="min-w-[10rem]">
        <summary class="">Typology category</summary>
        <div class="">
          {% for typology in typology_filter %}
          <div {% if request.args.get('typology')==typology %} class="active" {% endif %}>
            <a href="/books?typology={{typology}}">{{ typology }}</a>
          </div>
          {% endfor %}
        </div>
      </details>
      {% endif %}
      {% if languages_filter %}
      <details class="min-w-[10rem]">
        <summary>Scripting languages</summary>
        <div class="">
          {% for language in languages_filter %}
          <div {% if request.args.get('scriptingLanguage')==language %} class="active" {% endif %}>
            <a href="/tools?scriptingLanguage={{language}}">{{ language }}</a>
          </div>
          {% endfor %}
        </div>
      </details>
      {% endif %}
      {% if licenses_filter %}
      <details class="min-w-[10rem]">
        <summary>License</summary>
        <div class="">
          {% for license in licenses_filter %}
          <div {% if request.args.get('license')==license %} class="active" {% endif %}>
            <a href="/tools?license={{license}}">{{ license }}</a>
          </div>
          {% endfor %}
        </div>
      </details>
      {% endif %}
    </div>
  </div>


  <div class="col-md-8 col-lg-9">
    <div class="grid lg:grid-cols-3">
      {% for resource in resources %}
      {{ resource_small(resource) }}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}