{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">{% block title %} {{ tool['name'] }} {% endblock %}</h1>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="row text-center py-3">
        <a href="{{ url_for('tool.edit_tool', tool_id=tool['id']) }}">
            <span class="badge bg-dark">Edit</span>
        </a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            Created:
                        </th>
                        <td>
                            {{ tool['created'].strftime("%Y-%m-%d %H:%M") }} UTC
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description:
                        </th>
                        <td>
                            {{ tool['description'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Project page:
                        </th>
                        <td>
                            <a href="{{ tool['projectUrl'] }}">{{ tool['projectUrl'] }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Code repository:
                        </th>
                        <td>
                            <a href="{{ tool['repositoryUrl'] }}">{{ tool['repositoryUrl'] }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Expertise required to use:
                        </th>
                        <td>
                            {{ tool['expertiseToUse'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Expertise required to self-host:
                        </th>
                        <td>
                            {{ tool['expertiseToHost'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Technical dependencies:
                        </th>
                        <td>
                            {{ tool['dependencies'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Import / ingest formats:
                        </th>
                        <td>
                            {{ tool['ingestFormats'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Output formats:
                        </th>
                        <td>
                            {{ tool['outputFormats'] }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Platform status:
                        </th>
                        <td>
                            {{ tool['status'] }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if resources %}
    <div class="row">
        <div class="col">
            <h2 class="text-center">Linked resources:</h2>
        </div>
    </div>
    <div class="row">
    {% for resource in resources %}
        <div class="col-md-4 col-sm-6 py-3">
        {% if resource['type'] == 'practice' %}
        <div class="card text-dark bg-warning mb-3">
            <div class="card-body">
                <a href="{{ url_for('practice.show_practice', practice_id=resource['id']) }}">
                    <h3 class="card-title text-center text-dark">{{ resource['name'] }}</h3>
                </a>
                <p class="card-text">
                    {{ resource['description']|truncate(100) }}
                </p>
            </div>
        </div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
