{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>{% block title %} Tools {% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra magna. Nam in ante ultricies purus feugiat vestibulum et ac erat. Donec in sagittis ante. Maecenas non mauris et eros commodo fringilla. Integer accumsan ullamcorper diam, non rhoncus tellus molestie ut. Maecenas finibus pretium dolor ac sagittis.
            </p>
        </div>
    </div>
    <div class="row">
    {% for tool in tools %}
        <div class="col-md-4 col-sm-6 py-3">
        <div class="card text-dark bg-info mb-3">
            <div class="card-body">
                <a href="{{ url_for('tool.show_tool', tool_id=tool['id']) }}">
                    <h3 class="card-title text-center text-dark">{{ tool['name'] }}</h3>
                </a>
                <p class="card-text">
                    {{ tool['description']|truncate(100) }}
                </p>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('tool.edit_tool', tool_id=tool['id']) }}">
                    <span class="badge bg-warning">Edit</span>
                </a>
                {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
