flask==3.1.3
flask-sqlalchemy==3.1.1
werkzeug==3.1.8
flask-login==0.6.3
flask-moment==1.0.6
gunicorn==25.3.0
pymysql
markdown
isbntools
requests
marshmallow==4.3.0
flask-marshmallow==1.4.0
marshmallow-sqlalchemy==1.5.0
pandas